<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrakIt | Register</title>
    <link rel="stylesheet" type="text/css" href="./styles/sign-in-register-style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
    <link rel="manifest" href="./images/site.webmanifest">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/888c06406f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="home-nav">
            <a class="logo" href="/">TRAKIT</a>
            <nav class="nav-nav">
                <ul>
                    <li><a href="/sign-in">Sign In</a></li> 
                    <li><a href="/register">Register</a></li>
                    <li><a href="/movies">Movies</a></li>
                    <li><a href="/series">Series</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="form-div">
        <form id="register-form" action="/validate" method="POST" novalidate>
            <h1>Register</h1>
        <% if (errors && errors.length > 0) { %>
            <div class="alert alert-danger" role="alert">
                <ul>
                    <% errors.forEach(error => { %>
                        <li><%= error %></li>
                    <% }) %>
                </ul>
            </div>
            <% } %>
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter a Username" required>
                <div class="invalid-feedback">Please provide a username.</div>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter Your Email Address" required>
                <div class="invalid-feedback">Please enter a valid email address.</div>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter Your Password" required>
                <div class="invalid-feedback">Password must be at least 8 characters.</div>
            </div>
            <div>
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm Your Password" required>
                <div class="invalid-feedback">Passwords must match.</div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Register!</button>
            <p>Already Have An Account&quest; <a href="/sign-in">Sign In</a></p>
        </form>
        
    </div>
    <script src="./scripts/register.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>