/*import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Rowdies:wght@300;400;700&display=swap');

/*color palette*/
:root {
    --redcmyk: #DC3129;
    --harvestgold: #F3A712;
    --babypowder: #EBF5DF;
    --richblack: #04080F;
    --prussianblue: #003049;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Rowdies", "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    cursor: pointer;
}

.home-nav {
    background-color: var(--redcmyk);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.logo{
    font-size: 3em;
    color: var(--harvestgold);
}

.logo, .nav-nav a{
    text-decoration: none;
}

.nav-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-nav ul li {
    margin: 0 10px;
    font-size: 1.6em;
}

.nav-nav a{
    color: var(--babypowder);
}
.nav-nav a:hover{
    color: var(--harvestgold);
}

.search-bar {
    --size: 32px;
    --padding: 3px;
    --expanded-width: 300px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--babypowder);
    /* box-shadow: 0 10px 10px 0 #d6d9e2; */
    border-radius: 100px;
    outline: 1px solid transparent;
    overflow: hidden;
    padding: var(--padding);
    /* margin-inline: auto; */
    width: var(--size);
    height: var(--size);
    max-width: 100%;
    transition: width 0.5s, outline 0.5s;
}

.search-bar:focus-within{
    width: var(--expanded-width);
    outline: 1px solid var(--harvestgold);
}

.search-input {
    font-size: 14px;
    color: var(--harvestgold);
    background-color: transparent;
    border: none;
    outline: none;
    /* margin-inline: 1rem; */
    padding: 8px;
    flex: auto;
    opacity: 0;
    transition: opacity 0.5s;
}

.search-bar:focus-within .search-input {
    opacity: 1;
}

.search-submit {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--babypowder);
    background-color: var(--harvestgold);
    border-radius: 50%;
    border: none;
    width: calc(var(--size) - var(--padding) - var(--padding));
    aspect-ratio: 1;
    cursor: pointer;
}

section {
    padding: 50px;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url('../images/Watch-Free-Hero-2048x1152-3.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main div{
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main h1{
    font-size: 4em;
    color: var(--harvestgold);
}

.title {
    display: flex;
    justify-content: center;
    color: var(--harvestgold);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;

}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.card {
    background-color: var(--babypowder) !important;
    /*experimental image*/
    /*TODO: Implement card image functionailty in html not css so that images are fetched from api easily*/
    background-image: url('../images/favicon-32x32.png');
    width: 21.25em;
    /*Arguments:
    top/bottom shadow
    right/left shadow
    blur value
    color & transparency*/
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: var(--harvestgold);
    font-size: 8em;
    text-align: center;
}
