/*import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Rowdies:wght@300;400;700&display=swap');

/*color palette*/
:root {
    --redcmyk: #DC3129;
    --harvestgold: #F3AC05;
    --babypowder: #FDFFFC;
    --richblack: #04080F;
    --prussianblue: #003049;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html, body {
    width: 100vw;
}

.home-nav {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.nav-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-nav ul li {
    margin: 0;
    padding: 0 10px;
}

/* .search-wrapper {
width: 25px;
height: 25px;
display: flex;
border-radius: 4rem;
background: #fff;
align-items: center;
justify-content: center;
outline: none;
border: 2px solid #888;
position: relative;
transition: 400ms ease-in-out;
}

.search-wrapper input {
position: absolute;
top: 0;
left: 12px;
width: 100%;
height: 100%;
padding: 10px;
margin-left: 20px;
outline: none;
border: none;
font-size: 1.5rem;
overflow: hidden;

}

.search-btn {
font-size: 2rem;
border-radius: 50%;
padding: 10px;
border: 2px solid white;
width: 25px;
cursor: pointer;
height: 25px;
background: #e66610;
margin-left: auto;
z-index: 1;
}

.active {
width: 150px;
} */

/* .search-wrapper{
width: 27px;
height: 27px;
border-radius: 1000px;
display: flex;
align-items: stretch;
justify-content: center;
outline: none;
overflow: hidden;
border: 1px solid #888;
position: relative;
transition: 400ms ease-in-out;
}

.search-wrapper input{
border: none;
border-radius: 1000px;
padding-left: 16px;
width: 100%;
height: 100%;
outline: none;
}

.search-btn {
margin-right: 1px;
width: 25px;
height: 25px; */
/* border: none; */
/* border-radius: 1000px;
border: 1px solid white;
background: #e66610;
margin-left: auto;
z-index: 1;
}

.active{
width: 250px;
} */

.search-bar {
    --size: 32px;
    --padding: 3px;
    --expanded-width: 300px;
    
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    box-shadow: 0 10px 10px 0 #d6d9e2;
    border-radius: 100px;
    outline: 1px solid transparent;
    overflow: hidden;
    
    padding: var(--padding);
    /* margin-inline: auto; */
    width: var(--size);
    height: var(--size);
    max-width: 100%;
    transition: width 0.5s, outline 0.5s;
}

.search-bar:focus-within{
    width: var(--expanded-width);
    outline: 1px solid #2e2e2e;
}

.search-input {
    font-size: 18px;
    color: #3a3a3a;
    background-color: transparent;
    border: none;
    outline: none;
    margin-inline: 1rem;
    flex: auto;
    
    opacity: 0;
    transition: opacity 0.5s;
}

.search-bar:focus-within .search-input {
    opacity: 1;
}

.search-submit {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    background-color: #3a3a3a;
    border-radius: 50%;
    border: none;
    width: calc(var(--size) - var(--padding) - var(--padding));
    aspect-ratio: 1;
    cursor: pointer;
}
